<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"
    />
    <title>amazona</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">amazona</a>
        </div>
        <div>
          <a href="cart.html">cart</a>
          <a href="signin.html">Sign in</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <!-- -------------card--------------- -->
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product-1" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>nike shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fas fa-star"></i>
                </span>
                <span>
                  <i class="fas fa-star"></i>
                </span>
                <span>
                  <i class="fas fa-star"></i>
                </span>
              </div>
              <div class="price">Rs 500</div>
            </div>
          </div>
          <!-- -------------card--------------- -->
        </div>
      </main>
      <footer class="row center">Lorem ipsum dolor sit amet.</footer>
    </div>
    <script
      src="https://kit.fontawesome.com/0b5eee6e32.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
